.App {
  min-height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #282c34;
}
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap);
.App-header{
  color:#FFF;
}
main{
  display: flex;
  flex-direction: row;
}
section{
  min-width: 1100px;
  flex:1;
  display: flex;
  position: relative;
}

.Phrases{
  color:#FFF;
  font-size: 120px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex:1;
  letter-spacing: 30px;
  text-align: center;
  padding-left: 100px;
}

.profile{
  min-height: 100vh;
  background-color: #7d879b;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.IAMDEV{
  display:flex;
  flex-direction:column;
}

.IAMDEV .row{
  display:flex;
  flex-direction:row;
}

.row div{
  flex:1;
  width: 120px;
  height: 170px;
  text-align: center;
}

.eloper{
  display:flex;
  flex-direction:column;
}

.eloper div{
  display: block;
  width: 1px;
  height: 170px;
  flex:1
}

.picture{
  width: 200px;
  height: 200px;
  border: 7px solid #FFF;
  border-radius: 300px;
  overflow: hidden;
}

.name{
  margin-top: 30px;
  color:#FFF;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
}

.menu{
  padding-top:30px;
  height: 90px;
  color: #FFF;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
}

.appear{
  position: relative;
  animation-duration: 1s;
  animation-name: appear;
}

@keyframes appear {
  from {
    top:-30px;
    opacity: 0;
  }

  to {
    top:0px;
    opacity: 1;
  }
}

.about{
  font-weight: 300;
  color: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

.selected{
  font-size: 30px;
  color: #FFF;
  animation-duration: .5s;
  animation-name: increa;
}

.unselected{
  animation-duration: .5s;
  animation-name: decrea;
  font-size: 16px;
  color: #CCC;
}

@keyframes increa {
  from {
    font-size: 16px;
  }

  to {
    font-size: 30px;
  }
}

@keyframes decrea {
  from {
    font-size: 30px;
  }
  to {
    font-size: 16px;
  }
}

.contact .row{
  display: flex;
  padding-bottom: 10px;
}

.contact .content{
  padding-left: 10px;
  color: #FFF;
}

.alert{
  position: relative;
  width: 100vw;
  height: 0px;
  display: flex;
  justify-content: center;
}

.alert .content{
  position: fixed;
  color: #FFF;
  opacity: 0;
}

@keyframes popup {
  from {
    opacity: 0;
    bottom: 60px;
  }

  to {
    opacity: 1;
    bottom: 100px;
  }
}

@keyframes hide {
  from {
    opacity: 1;
    bottom: 100px;
  }

  to {
    opacity: 0;
    bottom: 60px;
  }
}

.popup{
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: popup;
}

.hide{
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: hide;
}
